__pycache__
*.grf
*.pyc
/*.vox
.cache
render
*.code-workspace
.directory
docs/_build/
docs/img/
docs/buildings.md
docs/building_*.md
docs/locale/zh_CN/LC_MESSAGES/building_*.po
docs/locale/zh_CN/LC_MESSAGES/*.mo
